USE [master]
GO
/****** Object:  Database [DataUser]    Script Date: 10.10.2024 14:26:41 ******/
CREATE DATABASE [DataUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataUser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataUser.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataUser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataUser_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataUser]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 10.10.2024 14:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.10.2024 14:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeVxod]    Script Date: 10.10.2024 14:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeVxod](
	[TypeVxodId] [int] NOT NULL,
	[TypeVxodName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeVxod] PRIMARY KEY CLUSTERED 
(
	[TypeVxodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.10.2024 14:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleId] [int] NOT NULL,
	[UserLastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserPhone] [nvarchar](50) NOT NULL,
	[UserPassport] [nvarchar](50) NOT NULL,
	[UserDataBirth] [date] NOT NULL,
	[UserLastvxod] [nvarchar](50) NULL,
	[UserTypevxod] [int] NULL,
	[UserGenderId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Gender] ([GenderId], [GenderName]) VALUES (1, N'ж')
INSERT [dbo].[Gender] ([GenderId], [GenderName]) VALUES (2, N'м')
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Исполнитель')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[TypeVxod] ([TypeVxodId], [TypeVxodName]) VALUES (1, N'Неуспешно')
INSERT [dbo].[TypeVxod] ([TypeVxodId], [TypeVxodName]) VALUES (2, N'Успешно')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserRoleId], [UserLastName], [UserName], [UserFirstName], [UserEmail], [UserLogin], [UserPassword], [UserPhone], [UserPassport], [UserDataBirth], [UserLastvxod], [UserTypevxod], [UserGenderId]) VALUES (1, 3, N'Акимов', N'Ян', N'Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'+7(781)785-5837', N'2367558134', CAST(N'1993-07-03' AS Date), N'1,67523E+12', 2, 2)
INSERT [dbo].[User] ([UserId], [UserRoleId], [UserLastName], [UserName], [UserFirstName], [UserEmail], [UserLogin], [UserPassword], [UserPhone], [UserPassport], [UserDataBirth], [UserLastvxod], [UserTypevxod], [UserGenderId]) VALUES (2, 2, N'Гончарова', N'Ульяна', N'Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'+7(230)906-8815', N'7101669343', CAST(N'1975-06-22' AS Date), N'1,6763E+12', 2, 1)
INSERT [dbo].[User] ([UserId], [UserRoleId], [UserLastName], [UserName], [UserFirstName], [UserEmail], [UserLogin], [UserPassword], [UserPhone], [UserPassport], [UserDataBirth], [UserLastvxod], [UserTypevxod], [UserGenderId]) VALUES (3, 1, N'Анохина', N'Елизавета', N'Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'+7(555)444-8316', N'3455719630', CAST(N'1991-08-16' AS Date), N'1,67605E+12', 2, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([UserGenderId])
REFERENCES [dbo].[Gender] ([GenderId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TypeVxod] FOREIGN KEY([UserTypevxod])
REFERENCES [dbo].[TypeVxod] ([TypeVxodId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TypeVxod]
GO
USE [master]
GO
